<div class="cont row">
        <footer class="container-fluid">
                <div class="contenedor">
                        <p><span>C/ Sidra s/n</span></p>
                        <p><span>29631 Benalmádena</span></p>
                        <p><span>ambsolymusica@gmail.com</span></p>
                        <p><span>@Copyright 2021. Sitio web de la Asociación de Músicos de
                                        Benalmádena Sol y
                                        Música.</span></p>
                </div>

                <div class="redes">
                        <a href="https://www.facebook.com/ambsolymusica/" target="_blank"> <i
                                        class="fab fa-facebook-f m-4 fa-3x"></i> </a>
                        <a href="https://twitter.com/ambsolymusica" target="_blank"> <i
                                        class="fab fa-twitter-square fa-3x"></i> </a>
                        <a href="https://www.youtube.com/user/ambsolymusica" target="_blank"> <i
                                        class="fab fa-youtube m-4 fa-3x "></i></a>
                        <a href="https://www.instagram.com/ambsolymusica/" target="_blank"><i
                                        class="insta fab fa-instagram fa-3x"></i></a>
                </div>
        </footer>
        <!--<div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
            preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path
                d="M0.00,49.98 C148.69,34.03 347.90,-23.19 501.41,-1.47 L500.00,150.00 L-7.62,153.45 Z"
                style="stroke: none; fill: #08f;"></path>
        </svg></div>-->
</div>