<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandas</title>
</head>

<body>
    <div class="titulo">
        <h2>NUESTRAS BANDAS</h2>
    </div>
    <div class="contenedor container-fluid">
        <div class="contbandas">
            <div class="averia card mx-5">
                <a href="/avería">

                    <img src="./assets/logo/portada.png" height="33%" class="card-img-top"
                        alt="avería">

                    <h4 class="card-title">Avería</h4>
                    <p class="card-text">Conoce más sobre esta banda.</p>
                </a>
            </div>
            <div class="milk card mx-5">
                <a href="/milkwookie"> <img src="./assets/logo/Milk.jpg" height="33%"
                        class="card-img-top" alt="milk">

                    <h4 class="card-title">MilkWookie</h4>
                    <p class="card-text">Conoce más sobre esta banda.</p>
                </a>
            </div>
            <div class="not card mx-5">
                <a href="/notyet">
                    <img src="./assets/logo/notyet.jpg" height="33%" class="card-img-top" alt="not">

                    <h4 class="card-title">Not Yet</h4>
                    <p class="card-text">Conoce más sobre esta banda.</p>
                </a>
            </div>
        </div>

    </div>
</body>

</html>