<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="contenedor container-fluid">
        <audio autoplay src="./assets/audio/Milkwookie/The_Perception.mp3"></audio>
        <div class="título container-fluid text-center">
            <h1>Bienvenidos a la AMB</h1>
            <h2> El lugar para conocer la escena musical de Benalmádena</h2>
            <h5>(Navega a través de nuestro menú para conocer más)</h5>
        </div>
    </div>
</body>

</html>