<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>

<body class="container">
    <h2 class="text-dark text-center">EVENTOS DE LA ASOCIACIÓN SOL Y MÚSICA</h2><br><br>
    <h3 class="text-center">Noche del Rock. Benalmádena (Julio 2021)</h3><br>
    <div class="contenedor">

        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/lavender.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/lavender2.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/lavender3.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/lavender4.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/notyet2.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/notyet3.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/notyet4.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/notyet5.jpg" alt=""></div>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">Nuevos Locales de Ensayo (Los Nadales)</h3><br>
    <div class="contenedor">
        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/local.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/local2.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/local3.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/local4.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/local5.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/local6.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/local7.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/local8.jpg" alt=""></div>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">Feria Arroyo de la Miel '16</h3><br>
    <div class="contenedor">
        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/feria16.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria16-2.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria16-3.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria16-4.jpg" alt=""></div>
        </div>
    </div>
    <h3 class="text-center">Feria Arroyo de la Miel '14</h3><br>
    <div class="contenedor">
        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/feria14-2.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria14.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria14-3.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria14-1.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria14-4.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria14-5.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria14-6.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria14-7.png" alt=""></div>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">Feria Arroyo de la Miel '13</h3><br>
    <div class="contenedor">
        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/cartel.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria13.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria13-2.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria13-3.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria13-4.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria13-5.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria13-6.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria13-7.png" alt=""></div>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">Feria Arroyo de la Miel '12 (Concierto Strange Days)</h3><br>
    <div class="contenedor">
        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/cartel2.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/todos.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/feria12.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/roberto.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/mario.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/strange.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/strange2.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/strange3.png" alt=""></div>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">Feria Arroyo de la Miel '10</h3><br>
    <div class="contenedor">
        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/cartel3.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/jacktrebol2.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/jacktrebol.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/preventivos.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/preventivos2.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/preventivos3.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/devastated.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/devastated2.png" alt=""></div>
        </div>
    </div>
    <br><br>
    <h3 class="text-center">Benalrock por Haití '10 (Concierto Strange Days)</h3><br>
    <div class="contenedor">
        <div class="grid-container">
            <div class="grid-foto"><img src="./assets/logo/cartel4.jpg" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/prensa.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/strange4.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/haití.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/haití2.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/haití3.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/haití4.png" alt=""></div>
            <div class="grid-foto"><img src="./assets/logo/haití5.png" alt=""></div>
        </div>
    </div>
</body>

</html>