<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="contenedor container-fluid">
        <h2 class="titulo2 container-fluid"> Biografía
        </h2>
        <article>
            <p class="txtAsoc container-fluid">Not Yet es una banda de Benalmádena (Málaga) de
                versiones en
                inglés. Su repertorio se
                compone de clásicos del rock y el pop de los años 60, 70, 80, 90, así como algún que
                otro
                rock ‘n roll clásico de los años 50 y algún hit del nuevo milenio. Muchas de estas
                versiones son fieles a las originales, aunque otras están reinterpretadas y llevadas
                al
                terreno propio del grupo, siendo esta una característica diferenciadora de Not Yet.
                El
                line-up es el típico de un grupo de rock de cuatro miembros: dos guitarras
                eléctricas (uno
                de ellos el cantante), bajo eléctrico y batería. Este proyecto comenzó a principios
                del año 2019. No obstante, todos sus miembros
                poseen una dilatada experiencia musical, habiendo formado parte de otras bandas,
                tanto de versiones como de música original, desde principios de la década de los
                2000.
                En este tiempo, Not Yet ha actuado en pubs, eventos organizados por ayuntamientos,
                eventos privados, bodas y hasta en una clase de spinning con música rock en directo
                (Long Rock Bike, en el Gimnasio Polideportivo Arroyo de la Miel).
                En nuestro canal de YouTube, en nuestra página de Facebook y en nuestro perfil de
                Instagram está disponible íntegramente nuestra actuación en la Noche de Rock, evento
                organizado por el Ayuntamiento de Benalmádena en el recinto ferial de Benalmádena
                Pueblo “Los Nadales” el 23 de julio de 2020.
            </p>
        </article>
        <br><br>
        <div class="banda">
            <ul>
                <h4>Componentes:</h4>
                <li>Guitarra rítmica y solista, coros: Juan Antúnez Tornero <i
                        class="fas fa-guitar fa-2x m-2"></i></li>
                <li>Batería y coros: Mario Garrido Infante <i class="fas fa-drum fa-2x m-2"></i>
                </li>
                <li>Voz principal, guitarra rítmica y solista: Roberto R. De la Vega <i
                        class="fas fa-guitar fa-2x m-2"></i></li>
                <li>Bajo y coros: Esteban Somosierra Fernández <img class="bajo"
                        src="https://img.icons8.com/ios/50/000000/guitar-strings.png" /></li>
            </ul>
            <img class="foto" src="../../../assets/logo/not.jpg" alt="">
        </div>
        <br><br>
        <section>
            <h3>Visita nuestras Redes Sociales</h3>
            <div class="redes">
                <a href="http://www.facebook.com/notyetrockband/" target="_blank"> <i
                        class="fab fa-facebook-f fa-3x"></i> </a>
                <a href="https://www.youtube.com/channel/UCw8vP9JI2Oy6uDDUFT0KV5w" target="_blank">
                    <i class="fab fa-youtube m-4 fa-3x "></i></a>
                <a href="http://www.instagram.com/notyetrockband/" target="_blank"><i
                        class="fab fa-instagram fa-3x"></i></a>
                <i class="correo fas fa-envelope m-4 fa-3x"></i><span>Correo Electrónico:
                    notyetrockband19@gmail.com</span>
            </div>
        </section>
    </div>
</body>

</html>